.list-group-item {
  text-align: center;
}

.btn {
  text-transform: uppercase;
}

.form-control {
  opacity: 0.8;
}

.form-control.ng-invalid.ng-touched {
  border-color: #dc3545;
}

.form-control.ng-valid {
  border-color: #00FF00;
}

.form-control.ng-invalid.ng-touched ~ .invalid-feedback {
  display: block;
}

.invalid-feedback{
  /* http://getbootstrap.com/docs/4.0/components/forms/#server-side подскажет, что делать*/
  display: none;
}

.jumbotron {
  opacity: 0.5;
}

.container-header {
  margin-top: 20px;
}

.breaker {
  margin-top: 100px;
}
