
<div class="card" style="width: 20rem;">
  <div class="card-body">
    <div>
      <h4 class="card-title">{{cityName}}</h4>
      <h6 class="card-subtitle mb-2 text-muted">{{weatherWeek.date.toLocaleDateString()}}</h6>
    </div>
    <img src={{weatherWeek.img}}>
    <p class="card-text">Description: {{weatherWeek.description}}</p>
    <p class="card-text" *ngIf="pressChecked">Pressure {{weatherWeek.pressure}} hPa</p>
    <p class="card-text" *ngIf="humChecked">Humidity: {{weatherWeek.humidity}}%</p>
    <p class="card-text" *ngIf="dayTempChecked">Day temperature: {{weatherWeek.temp_day}}&#x2103;</p>
    <p class="card-text" *ngIf="nightTempChecked">Night temperature: {{weatherWeek.temp_night}}&#x2103;</p>
    <p class="card-text" *ngIf="maxDailyChecked">Max daily temperature: {{weatherWeek.temp_max}}&#x2103;</p>
    <p class="card-text" *ngIf="minDailyChecked">Min daily temperature: {{weatherWeek.temp_min}}&#x2103;</p>
    <p class="card-text" *ngIf="mornTempChecked">Morning temperature: {{weatherWeek.temp_morn}}&#x2103;</p>
    <p class="card-text" *ngIf="eveTempChecked">Evening temperature: {{weatherWeek.temp_eve}}&#x2103;</p>
    <p class="card-text" *ngIf="windSpeedChecked">Wind speed: {{weatherWeek.wind_sp}}m/s</p>
    <p class="card-text" *ngIf="windDirectionChecked">Wind direction: {{weatherWeek.wind_dir}}</p>
  </div>
</div>
