<div class="jumbotron">
  <div class="container">
    <h1 class="header">Weather Forecast Page using OpenWeatherMap API</h1>
    <p>On this site you can get a 5&nbsp;day or 16&nbsp;day weather forecast</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 jumbotron">
      <div class="fiveday">
        <h2>5&nbsp;day weather forecast</h2>
        <hr>
        <div>
          <p>5&nbsp;day forecast is available at any location or city. It includes weather data every&nbsp;3&nbsp;hours.
            Also you can choose some filters:
          </p>
          <ul>
            <li>Humidity, %</li>
            <li>Pressure, hPa</li>
            <li>Current temperature, &#x2103;</li>
            <li>Maximum daily temperature, &#x2103;</li>
            <li>Minimum daily temperature, &#x2103;</li>
            <li>Wind direction</li>
            <li>Wind speed, m/s</li>
          </ul>
        </div>
      </div>
      <hr>
      <a routerLink="/day" class="btn btn-primary" role="button">Get more &raquo;</a>
    </div>
    <div class="col-md-6 jumbotron">
      <div>
        <h2>16&nbsp;day weather forecast</h2>
        <hr>
        <div>
          <p>16 day forecasts is available at any location or city. Forecasts include only daily&nbsp;weather.
            Also you can choose some filters:
          </p>
          <ul>
            <li>Humidity, %</li>
            <li>Pressure, hPa</li>
            <li>Day temperature, &#x2103;</li>
            <li>Night temperature, &#x2103;</li>
            <li>Maximum daily temperature, &#x2103;</li>
            <li>Minimum daily temperature, &#x2103;</li>
            <li>Morning temperature, &#x2103;</li>
            <li>Evening temperature, &#x2103;</li>
            <li>Wind direction</li>
            <li>Wind speed, m/s</li>
          </ul>
        </div>
      </div>
      <hr>
      <a routerLink="/week" class="btn btn-primary" role="button">Get more &raquo;</a>
    </div>
  </div>
</div>
